.crypto_future_main_wrapper {
  .crypto_future_inner_wrapper {
    .container {
      .row {
        .box-one {
          display: grid;

          .box-one-bg {
            background-image: url("../../assests/Crypto/box-one-bg.jpg");
            background-repeat: no-repeat;
            background-size: 950px 650px;
            width: 100%;
            z-index: 999;
            height: 650px;
            // border: 1px solid red;

            @media only screen and (min-width: 300px) and (max-width: 575px) {
              height: 100%;
              width: 90%;
            }

            .heading {
              text-align: left;
              margin: 65px;
              margin-bottom: 30px;

              @media only screen and (min-width: 300px) and (max-width: 575px) {
                margin: 35px
              }
              .why {
                color: #9a89ae;
              }
              .topic {
                color: #7010e0;
                font-size: 32px;
                font-weight: 800;
              }
            }

            .inner-box-content {
              padding: 75px;
              padding-left: 30px;
              padding-right: 30px;
              width: 80%;
              margin: 0 auto;
              background-color: #320864;
              border-radius: 5px;
              color: #fff;
            }
          }
        }
        .box-two-bg {
        //   border: 1px solid green;

          @media only screen and (min-width: 300px) and (max-width: 575px) {
            height: 100%;
          }
          .heading {
            text-align: left;
            margin: 65px;
            margin-bottom: 30px;
            .why {
              color: #9a89ae;
            }
            .topic {
              color: #7010e0;
              font-size: 32px;
              font-weight: 800;
            }
          }

          .inner-box-content {
            background-image: url("../../assests/Crypto/box-two-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 999;

            padding: 50px;
            padding-left: 30px;
            padding-right: 30px;
            width: 80%;
            margin: 0 auto;
            background-color: #e8e1f1;
            border-radius: 5px;
            color: #3d2a53;
          }
        }
      }
    }
  }
}
